<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>상품 데이터 출력 예제</h1>

<form action="/customer/listbyage" method="post">
    나이 : <textarea id="age" name="age"></textarea>
    <button>결과전송</button>
</form>

<div th:if="${custList != null}">
    <tr th:each = "cust : ${custList}">
        <td th:text="${cust.id}"></td>
        <td th:text="${cust.name}"></td>
        <td th:text="${cust.age}"></td>
    </tr>
</div>
</body>
</html>