<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    hello world

    <form action="/item/new" method="post">
        <textarea id="name" name="name"></textarea>
        <textarea id="contents" name="contents"></textarea>
        <button></button>
    </form>

    <form action="/item/listbycust" method="post">
        <textarea id="custName" name="custName"></textarea>
        <button></button>
    </form>

    <form action="/items/itemByList" method="post">
        <textarea name="custName"></textarea>
        <button></button>
    </form>

    핸드폰번호 : <textarea id="inputPhoneNumber" name="phone"></textarea>
    <button id="sendPhoneNumber">인증문자 보내기</button>


    메일보내기 : <textarea id="inputMailAddress" name="email"></textarea>
    <button id="sendMailNumber">메일 보내기 </button>

</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
    $('#sendPhoneNumber').click(function(){
        let phoneNumber = $('#inputPhoneNumber').val();

        $('#inputPhoneNumber').val("");

        $.ajax({
            type: "POST",
            url: "/check/sendSMS",
            data: {
                "phone" : phoneNumber
            },
            success: function(res){
                alert('인증번호 발송 완료!');
            }
        })
    });

    $('#sendMailNumber').click(function(){
        let mailAddress = $('#inputMailAddress').val();

        $.ajax({
            type: "POST",
            url: "/check/email",
            data: {
                "email" : mailAddress
            },
            success: function(res){
                alert('메일 발송 완료!');
            }
        })
    });
</script>
</html>